{% extends './base_layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="row centreContent">
  <div class="col-sm-11">
    <div class="card bg-light text-dark">
      <div class="card-body p-2">
        <h5>Username: {{username}} <br>
          Department: {{dept}}</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-1"><a href="/logout/" class="btn btn-danger">Logout</a></div>
</div>

<div class="row centreContent">
  <div class="col-sm-2">
    <ul class="linksMenu">
      {% for category, subcategories in catsNsubcats.items %}
      <li>
        <div class="menuHead" id="{{category.id}}">{{category.text|upper}}</div>
        <div id="subcat{{category.id}}" class="subcat">
          {% for subcat in subcategories %}
          <span class="linkItem"><a href="../content/?subcatid={{subcat.id}}" target="content-frame">{{subcat.text|title}}</a></span>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>


  <div class="col-sm-10 jumbotron">
    <div class="row m-2">
      <div class="col-sm-5">
        <button type="button" name="button" class="btn btn-primary btn-lg col" data-toggle="modal" data-target="#addCategoryModal">Add Category</button>
      </div>
      <div class="col-sm-5">
        <button type="button" name="button" class="btn btn-info btn-lg col" data-toggle="modal" data-target="#addSubCategoryModal">Add Sub Category</button>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-sm-5">
        <button type="button" name="button" class="btn btn-danger btn-lg col" data-toggle="modal" data-target="#deleteCategoryModal">Delete Category</button>
      </div>
      <!-- <div class="col-sm-5">
        <button type="button" name="button" class="btn btn-info btn-lg col" data-toggle="modal" data-target="#">Delete Sub Category</button>
      </div>
    </div> -->
    </div>
  </div>
</div>
<!--Add Category Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="Add Category" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/addCategory/" method="post">{%csrf_token%}
          <div class="form-group">
            <input type="text" name="catName" class="form-control" placeholder="New Category Name" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-success" value="Add Category">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Sub Category Modal -->
<div class="modal fade" id="addSubCategoryModal" tabindex="-1" role="dialog" aria-labelledby="Add Sub Category" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New Sub Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/addSubCategory/" method="post" enctype="multipart/form-data">{%csrf_token%}
          <div class="form-group">
            <select class="form-control" name="category">
              {% for category, subcategories in catsNsubcats.items %}
              <option value="{{category.id}}">{{category}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="subCatName" class="form-control" placeholder="New Sub Category Name">
          </div>
          <div class="form-group">
            <input type="text" name="url" class="form-control" placeholder="URL">
          </div>
          <div class="form-group">
            <textarea class="ckeditor" name="content"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-success" value="Add Sub Category">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DELETE CATEGORY MODAL -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="Delete Category" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/deleteCategory/" method="post" enctype="multipart/form-data">{%csrf_token%}
          <div class="form-group">
            <select class="form-control" name="category">
              {% for category, subcategories in catsNsubcats.items %}
              <option value="{{category.id}}">{{category}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-success" value="Delete">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock%}