<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Intranet NITW</title>
</head>

<body>
  <div class="container">
    <center>
      <div class="error_404">
        404
      </div>
      <div class="">
        Page not found.
      </div>
    </center>
  </div>

  <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </script>
</body>

</html>