<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Intranet NITW</title>
</head>

<body>
  <div class="container">
    <!--TOP BANNER-->
    <div class="row">
      <div class="col banner">
        <img class="img-fluid" src="{% static 'images/nitwlogo.png' %}" alt="">
      </div>
    </div>
    <!--TOP BANNER END-->


    <!--NAVIGATION MENU-->
    <div class="row">
      <div class="dropdownPanel">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {%for m in menu%}
              {%if m.isDropdown%}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{m.text|title}}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {%for sm in submenu%}
                  {%if sm.menuId.text == m.text%}
                  <!-- <a class="dropdown-item" href="{{sm.url}}">{{sm.text|title}}</a> -->
                  <!-- IF THERE IS URL AVAILABLE THE DON'T SHOW THE CONTENT -->
                  {%if sm.url%}
                  <a class="dropdown-item" href="https://{{sm.url}}" target="_blank">{{sm.text|title}}</a>
                  {%else%}
                  <a class="dropdown-item" href="../menucontent/?submenuid={{sm.id}}">{{sm.text|title}}</a>
                  {%endif%}
                  {%endif%}
                  {%endfor%}
                </div>
              </li>
              {%else%}
              <li class="nav-item"><a class="nav-link" href="{{m.url}}">{{m.text|title}}</a></li>
              {%endif%}
              {%endfor%}
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!--NAVIGATION MENU END-->


    <div class="row centreContent">
      <!--LEFT PANEL-->
      <div class="col-sm-2 leftpanel">
        <ul class="linksMenu">
          {%for cat in category%}
          <li>
            <div class="menuHead" id="{{cat.id}}">{{cat.text|upper}}</div>
            <div id="subcat{{cat.id}}" class="subcat">
              {%for subcat in subcategory%}
              {%if subcat.categoryId.text == cat.text%}
              {%if subcat.url%}
              <span class="linkItem"><a href="https://{{subcat.url}}" target="_blank">{{subcat.text|title}}</a></span>
              <hr>
              {%else%}
              <span class="linkItem"><a href="../content/?subcatid={{subcat.id}}" target="content-frame">{{subcat.text|title}}</a></span>
              <hr>
              {%endif%}
              {%endif%}
              {%endfor%}

            </div>
          </li>
          <hr>
          {%endfor%}
        </ul>

      </div>
      <!--LEFT PANEL END-->

      <!--CENTRE CONTENT-->
      <div class="col-sm-10" style="">
        <iframe src="../carousel/" frameborder="0" name="content-frame" width="100%" height="700px">

        </iframe>

      </div>

      <!--CENTRE CONTENT END-->


    </div>

    <!--FOOTER-->
    <div class="row">
      <div class="col footer">
        <center>
          National Institute of Technology, Warangal - 506004, TS, INDIA | NITW Phone: +91-870-2459191 | FAX :
          +91-870-2459547 &nbsp; Copyright &copy; 2018. WSDC
        </center>

      </div>
    </div>
    <!--FOOTER END-->
  </div>

  <!-- Optional JavaScript -->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".subcat").hide();

      $(".menuHead").click(function() {
        $("#subcat" + this.id).toggle(300);
      });

    });
  </script>
</body>

</html>